$accent-color: #BAA58C;
.sidebar-link {
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 16px;
  display: block;
  &:hover, &.sidebar-link-active {
    color: #fff;
    background-color: $accent-color;
  }
}






