html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 16px !important;
}

#app {
  height: 100%;

  & > div {
    height: 100%;
  }
}

.page {
  height: 100%;
  position: relative;
}

.menu-item {
  cursor: pointer !important;
}

.content-container {
  padding: 8px;
}


