@import 'mixins';

@include keyframe_fadein;

.greeting {
  @include animation(fadein, $duration: 3s, $timing-function: ease-in-out);
  color: #fff;
  font-size: 4em;
  margin: 25px;
  display: inline-block;
}