@import 'mixins';
@import 'variables';

.search-button {
  @include border-radius(0 10px 10px 0);
  font-size: 1em !important;
  background: $accent-color !important;
  height: 100% !important;
  width: 15% !important;
  border: none !important;
  vertical-align: top;
  padding: 0 !important;
  .search-icon {
    color: #fff !important;
    font-size: 2em !important;
  }

}