.chat-input-container {
  position: relative;
  background-color: #fff;
  height: 64px;
  overflow: hidden;
  .chat-input {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    float: left;
    outline: none;
    padding: 10px 80px 10px 0;
    position: absolute;
    right: -15px;
    overflow-y: scroll;
  }
}