@import "placeholders";
@import "variables";

.page-resource-card {
  text-align: left;

  & .page-resource-card-media {
    height: 400px;

    & > div {
      @extend %parent-full-size;
    }
    & .page-resource-card-image {
      @extend %parent-full-size;
      @extend %background-cover-center;
    }

    & .page-resource-title {
      height: auto;
    }
  }
  & .page-resource-card-description {
    display: inline-block;
    width: 75%;
    float: left;
    border-right: 1px solid rgba($clr-black, 0.1);;
  }

  & .page-resource-card-action {
    display: inline-block;
    width: 25%;
    text-align: center;
  }

  & .page-resource-card-button {
    background-color: $accent-color !important;
    color: $clr-white !important;

    &:hover {
      background-color: $clr-white !important;
      color: $accent-color !important;
      border: 1px solid $accent-color !important;
    }
  }


}