@import 'placeholders';
@import 'mixins';
@import 'variables';

.resource-card {
  .amenity-categories-container & {
    flex: 1 1 48%;
    margin: 0 1% 24px;
  }
  flex: 1 1 31%;
  display: inline-block;
  height: 350px;
  position: relative;
  background: {
    size: cover;
    position: 50% 50%;
  }

  & .resource-link {
    @extend %parent-full-size;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
  }

  & > div {
    @extend %parent-full-size;
  }

  & .resource-card-media {
    @extend %parent-full-size;

    & > div {
      @extend %parent-full-size;
    }

    & .resource-title {
      span:last-child {
        height: 0;
        opacity: 0;
      }
    }

    & .resource-card-image {

      @extend %parent-full-size;
      @extend %background-cover-center;

    }
  }

  &:hover {
    .resource-card-image {
      @include transform(scale(1.05));
      @include transition(all, 250ms, ease-in-out);

    }
    .resource-card-media {
      overflow: hidden;

      & > div:last-child {
        background-color: rgba( $clr-black, 0.25);
      }
    }

    .resource-title {
      & > span:first-child {
        color: $clr-white !important;
      }
      & > span:last-child {
        opacity: 1;
        height: auto;
        @include transition(all, 300ms, ease-in);
      }
    }
  }

}