@import 'mixins';

.nav-button-item {
  float: none !important;
  vertical-align: middle !important;
  display: table-cell !important;
  & > a {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff !important;
    i {
      opacity: 0.75;
      font-size: 1.5em;
      &:hover {
        opacity: 1;
        @include transition(opacity, 500ms);
      }

    }
  }
}

/*.nav-button {
  margin: 0 3.75%;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff !important;
  i {
    opacity: 0.75;
    font-size: 1.5em;
    &:hover {
      opacity: 1;
      @include transition(opacity, 500ms);
    }

  }

}*/