@import 'variables';

.navbar {
  height: $navbar-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 0 !important;

}

.logo-container {
  width: 25%;
}

